@page
@model Aula_11.Pages.ServicosModel
@{
    ViewData["Title"] = "Serviços"; 
}
<html>
    <body>
        <h1>Todos os Serviços do Carlos.LTDA</h1>
        <ul>
            <li>Criação de Site</li>
            <li>Reparo de Computador</li>
            <li>Visualização de DB</li>
            <li>Criação de FrameWork</li>
        </ul>
    </body>
</html>