@page
@model Aula_11.Pages.SobreModel
@{
}
<h2> Sobre Nós</h2>
<p>Somos uma empresa dedicada a fornecer as melhores soluções tecnológicas para nossos clientes.
    Nosso objetivo é sempre superar as expectativas e entregar produtos de alta qualidade</p>